@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-input-filled {
    background-color: white !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 15px !important;
}

.swiper-button-prev{
    height: 40px !important; 
    width: 40px !important; 
    position: absolute; 
    left: -2px !important;
} 

.swiper-button-next{
    height: 40px !important; 
    width: 40px !important; 
    position: absolute; 
    right: -2px !important;
} 